{% extends 'adminApp/account/base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block main-content %}
<style>
  .form-group span{
    color: red;
  }
</style>
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <!-- <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'adminApp/assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div>End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    {% if messages %}
                      {% for message in messages %}
                        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <form class="row g-3" method="POST" novalidate>
                    {% csrf_token %}
            
                    <div class="col-6">
                      <div class="form-group">
                        <label for="last_name">{{form.first_name.label}}</label>
                        {{form.first_name}} <span>{{form.first_name.errors | striptags}}</span>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label for="first_name">{{form.last_name.label}}</label>
                        {{form.last_name}} <span>{{form.last_name.errors | striptags}}</span>
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <div class="form-group">
                        <label for="username">{{form.username.label}}</label>
                        {{form.username}} <span>{{form.username.errors | striptags}}</span>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="email">{{form.email.label}}</label>
                        {{form.email}} <span>{{form.email.errors | striptags}}</span>
                      </div>
                    </div>

                    

                    <div class="col-6">
                      <div class="form-group">
                        <label for="password1">{{form.password1.label}}</label>
                        {{form.password1}} <span>{{form.password.errors | striptags}}</span>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label for="password2">{{form.password2.label}}</label>
                        {{form.password2}} <span>{{form.password2.errors | striptags}}</span>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                Designed by <a href="#">Pradeep Kumar</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock main-content %}