<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Demo - {% block title %}{% endblock title %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'adminApp/assets/img/favicon.png' %}" rel="icon">
        <link href="{% static 'adminApp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'adminApp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'adminApp/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'adminApp/assets/css/style.css' %}" rel="stylesheet">

    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
                <img src="{% static 'adminApp/assets/img/logo.png' %}" alt="">
                <span class="d-none d-lg-block">Demo</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

               

                <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{{ udata.profile_pic.url }}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user|capfirst}}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">
                    <i class="bi bi-grid"></i>
                    <span>Student</span>
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                    <i class="bi bi-bag-plus-fill"></i>
                    <span>Add Product</span>
                    </a>
                </li>End Add product page Nav -->

                <!-- <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'blank_page' %}">
                    <i class="bi bi-file-earmark"></i>
                    <span>Blank</span>
                    </a>
                </li> -->

            </ul>

        </aside><!-- End Sidebar-->

        {% block main-content %}{% endblock main-content %}

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <!-- Vendor JS Files -->
        <script src="{% static 'adminApp/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/chart.js/chart.min.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/echarts/echarts.min.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/quill/quill.min.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
        <script src="{% static 'adminApp/assets/vendor/tinymce/tinymce.min.js' %}"></script>
    
        <!-- Template Main JS File -->
        <script src="{% static 'adminApp/assets/js/main.js' %}"></script>
    
    </body>
  
</html>